:root {
  --background-primary: #15202B;
  --background-secondary: #192734;
  --background-tertiary: #253341;
  --background-hover: #2b3b4b;
  --input-background: #192734;
  --icon-color: #3e566e;
  --text-primary: #fff;
  --text-muted: #8E9297;
  --color-primary: #2168ff;
  --color-primary-hover: #0956ff;
  --border-radius: 8px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
