.empty {
    padding: calc(var(--spacing) * 2);
    text-align: center;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    color: var(--text-muted);
    font-weight: var(--text-muted-font-weight);
    margin-bottom: 40px;

    .title {
        font-size: 22px;
        color: var(--text-primary);
        margin-bottom: var(--spacing);
    }
}
.explore-button {
    margin: 0 var(--spacing);
    width: 160px;
    margin-top: calc(var(--spacing) * 2);
    color: var(--text-primary);
}
@media only screen and (max-width: 600px) {
    .empty {
        &>div {
            flex-direction: column;
            
            &>div {
                width: 100%;
                margin: var(--spacing) 0 0 0;
            }
        }
    }
}