.input-container {
    background-color: var(--background-secondary);
    padding: var(--spacing);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing);
}
.input {
    cursor: pointer;
    margin-left: var(--spacing);
    border-radius: 120px;
    background-color: var(--background-tertiary);
    padding: calc(var(--spacing) * .8) var(--spacing);
    transition: background-color .2s;
    color: var(--text-muted);
    font-weight: var(--text-muted-font-weight);
    flex: 1;

    &:hover {
        background-color: var(--background-hover);
    }
}
.empty {
    padding: var(--spacing);
    text-align: center;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    color: var(--text-muted);
    font-weight: var(--text-muted-font-weight);
}