.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 1;
    animation: backdrop-in .4s forwards;
    pointer-events: all;
}
@keyframes backdrop-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes backdrop-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.animating-out {
    .modal {
        animation: modal-out .4s forwards;
    }
    .backdrop {
        animation: backdrop-out .4s forwards;
    }
}
.animating-new-modal {
    &.left {
        .multiple-container {
            animation: new-modal-left .4s forwards;

            &>div:first-child {
                order: 1;
            }
            &>div:last-child {
                order: 0;
            }
        }
    }
    &.right {
        .multiple-container {
            animation: new-modal-right .4s forwards;
        }
    }
}
@keyframes new-modal-right {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes new-modal-left {
    0% {
        transform: translate3d(-100%,0,0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
.modal {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: 100% !important;
    min-height: 200px;
    pointer-events: all;
    z-index: 2;
    animation: modal-in .4s forwards;
    transition: max-height .4s;

    &>div {
        width: 100%;
    }
}
.multiple-container {
    min-height: 200px;
    &>div {
        min-width: 100%;
    }
}
@keyframes modal-in {
    0% {
        transform: scale(.7);
        opacity: 0;
    }
    70% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
@keyframes modal-out {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(.7);
        opacity: 0;
    }
}
.modal-header {
    padding: 20px;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid var(--background-tertiary);
}
.close-modal-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background-tertiary);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;

    svg {
        fill: var(--text-primary);
        width: 25px;
        height: 25px;
        padding: 5px;
    }

    &:hover {
        background-color: var(--background-primary);
    }
}
.modal-footer {
    background: var(--background-primary);
    padding: 15px;
}