.container {
    background-color: var(--background-secondary);
    
    svg {
        fill: var(--text-primary);
        width: 25px;
        opacity: .4;
    }
    &>div {
        flex: 1 25%;
        padding: 14px;
    }
}
.main {
    flex: unset !important;
    width: 600px;
    max-width: 100%;
    padding: 0 !important;
    gap: var(--spacing);

    svg {
        width: 32px !important;
        height: 32px !important;
    }
}
.main-button {
    border-radius: var(--border-radius);
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    transition: background-color .2s;

    &.active, &:hover {
        background-color: var(--background-tertiary);
    }
    &:active {
        background-color: var(--background-hover);
    }
    &.active {
        svg {
            fill: var(--color-primary);
            opacity: 1;
        }
    }
}
.button {
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    transition: background-color .2s;

    &.user {
        width: unset;
        height: unset;
    }
    &:hover, &.active-button {
        background-color: var(--background-tertiary);
    }
}
.user {
    span {
        margin-left: 5px;
        font-weight: 600;
    }
}
.notification-count {
    position: absolute;
    bottom: 0px;
    right: 2px;
    font-weight: 600;
    background-color: var(--background-tertiary);
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.empty {
    padding: var(--spacing);
    color: var(--text-muted);
    font-weight: var(--text-muted-font-weight);
    text-align: center;
}
.empty-header {
    color: var(--text-primary);
    margin-bottom: var(--spacing);
}
.notification-container {
    background-color: var(--background-tertiary);
    position: absolute;
    z-index: 14;
    top: calc(100% + 15px);
    right: 0;
    width: 400px;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 440px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--background-hover);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--background-secondary);
        border-radius: 120px;
    }
}
.notification {
    padding: 15px;

    a {
        text-decoration: none;
    }
    &:hover {
        background-color: var(--background-hover);
    }
    &:not(:last-child) {
        border-bottom: 2px solid var(--background-hover);
    }
}
.notification-header {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;
}
.timestamp {
    font-size: 13px;
    color: var(--text-muted);
}
.notification-content {
    span {
        margin-left: 10px;
    }
}
.notification-author {
    font-size: 12px;
    color: var(--text-muted);
    font-weight: 600;
    margin-top: 4px;
}

.input-container {
    position: relative;
}
.input {
    font-size: 16px;
}
.search-header {
    margin-bottom: 8px;
    color: var(--text-muted);
    font-weight: 500;
    padding: 6px 10px;
}
.search-query {
    color: var(--text-primary);
}
.search-results {
    position: absolute;
    z-index: 14;
    top: 100%;
    width: 350px;
    padding: 6px;
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
}
.search-result {
    padding: 8px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover {
        background-color: var(--background-hover);
    }
}
.search-avatar {
    border-radius: var(--border-radius) !important;
    margin-right: var(--spacing);
}
.result-stats {
    color: var(--text-muted);
    font-weight: var(--text-muted-font-weight);
    font-size: 14px;
}
.result-info {
    padding: 10px;
    display: block;
    padding-top: 0;
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 14px !important;
    }
}