.post {
    height: 100vh;
}
.media {
    width: 70%;
    height: 100%;
    position: relative;
    background: var(--background-secondary);
    overflow: hidden;
    padding: 20px;
}
.media-item {
    width: 100%;
    height: 100%;
    position: relative;
    
    img {
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(17px);
    opacity: .8;
}

.post {
    svg {
        fill: var(--icon-color);
    }
}
.post-main {
    flex: 1;
    padding-top: 25px;

    &>div {
        padding-left: 25px;
        padding-right: 25px;
    }
}
.header {
    margin-bottom: 15px;

    svg {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        padding: 6px;
        cursor: pointer;
        
        &:hover {
            background: var(--background-tertiary);
        }
    }
}
.author-avatar {
    border-radius: 50%;
    margin-right: 15px;
}
.author-name {
    margin-right: 10px;
}
.author-username {
    font-size: 14px;
    color: var(--text-muted);
    margin-left: 7px;
}
.post-timestamp {
    margin-top: 2px;
    font-size: 13px;
    color: var(--text-muted);
}
.post-content {
    padding-bottom: 25px;
}
.footer {
    border-top: 1px solid var(--background-secondary);
    border-bottom: 1px solid var(--background-secondary);
    width: 100%;
    padding: 10px 0;

    svg {
        width: 18px;
        height: 18px;
    }
}
.footer-item {
    padding: 6px 10px;
    margin-left: -10px;
    margin-right: 15px;
    border-radius: var(--border-radius);
    cursor: pointer;

    span {
        margin-left: 10px;
    }

    &:hover {
        background: var(--background-secondary);
    }
}
.comments {
    padding-top: 25px;
    overflow: auto;
    max-height: 100%;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--background-secondary);
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--background-tertiary);
        border-radius: 25px;
    }
}
.comment {
    margin-bottom: 25px;
}
.comment-header {
    a {
        margin-left: 10px;
    }
}
.comment-main {
    padding: 10px;
    background: var(--background-secondary);
    border-radius: var(--border-radius);
    position: relative;
    margin-left: 18px;

    &::after {
        content: "";
        position: absolute;
        top: 11px;
        left: -7px;
        width: 15px;
        height: 15px;
        background-color: var(--background-secondary);
        transform: rotate(-45deg);
        border-radius: 25% 0 0 0 / 30%;
    }
}
.comment-author {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 13px;
}
.comment-content {
    font-size: 16px;
}
.add-comment {
    padding: 25px 0;
    border-bottom: 1px solid var(--background-secondary);
    
    &>:last-child {
        width: 100%;
    }
}
.add-comment-avatar {
    margin-right: 15px;
}

// Like button
.like-svg {
    cursor: pointer;
    overflow: visible;
    transform: scale(1.8);
}

.like-svg .heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
}

.like-svg .main-circ {
    transform-origin: 29.5px 29.5px;
}
.is-active .heart {
    transform: scale(0.2);
    fill: #E2264D;
    animation: animateHeart .3s linear forwards .25s;
}

.is-active .main-circ {
    transition: all 2s;
    animation: animateCircle .3s linear forwards;
    opacity: 1;
}

.is-active .grp1 {
    opacity: 1;
    transition: .1s all .3s;
}

.is-active .grp1 .oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.is-active .grp1 .oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.is-active .grp2 {
    opacity: 1;
    transition: .1s all .3s;
}

.is-active .grp2 .oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.is-active .grp2 .oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.is-active .grp3 {
    opacity: 1;
    transition: .1s all .3s;
}

.is-active .grp3 .oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.is-active .grp3 .oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.is-active .grp4 {
    opacity: 1;
    transition: .1s all .3s;
}

.is-active .grp4 .oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.is-active .grp4 .oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.is-active .grp5 {
    opacity: 1;
    transition: .1s all .3s;
}

.is-active .grp5 .oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.is-active .grp5 .oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.is-active .grp6 {
    opacity: 1;
    transition: .1s all .3s;
}

.is-active .grp6 .oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.is-active .grp6 .oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.is-active .grp7 {
    opacity: 1;
    transition: .1s all .3s;
}

.is-active .grp7 .oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.is-active .grp7 .oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.is-active .grp2 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.is-active .grp3 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.is-active .grp4 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.is-active .grp5 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.is-active .grp6 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.is-active .grp7 {
    opacity: 1;
    transition: .1s opacity .3s;
}

@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688;
    }
    55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF;
    }
    65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5;
    }
    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .5;
    }
    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .2;
    }
    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .1;
    }
    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0;
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}