.banner {
    height: 90px !important;
}
.avatar {
    width: 85px !important;
    min-width: 85px !important;
    height: 85px !important;
    margin-top: -70px !important;

    span {
        width: 100% !important;
        height: 100% !important;
    }
}